*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*Style HEADER*/
.img-logo{
    max-width: 200px;
    max-height: 180px;
}
.header{
    width: 100%;
}
.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    max-height: 110px;
    margin: auto;
}
.header-nav nav ul{
    display: flex;
    gap: 50px;
    list-style: none;
}
.header-nav nav ul a{
    text-decoration: none;
    color:#162C5A;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.3s ease;
}
.header-nav nav ul a:hover{
    color: #00A8A0;
}
.header-button button{
    width: 105px;
    height: 40px;
    border: none;
    border-radius: 35px;
    font-size: 12px;
    font-weight: 800;
    color:#162C5A;
    background-color: #FFD223;
    cursor: pointer;
    transition: all 0.3s ease;
}
.header-button button:hover{
    background-color: #ffda45;
}
/*Style HEADER*/



/*Style Banner-Quem-Somos*/
.banner-quem-somos{
    width: 100%;
    height: 500px;
    background-image: url(IMG/Criançasfeliz.png);
    background-position:center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
}
.banner-quem-somos::before{
    content: '';
    background-color: rgba(0, 0, 0, 0.686);
    width: 100%;
    height: 500px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}
.banner-quem-somos h1{
    font-family: cursive;
    color: #fff;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 0.5px;
}
.banner-quem-somos{
    display: flex;
    align-items: center;
    padding: 0 50px;
}
/*Style Banner-Quem-Somos*/



/*Style Main-Container*/
.main-container .container{
    display: flex;
    margin-top: 50px;
    padding: 0 100px;
}
.main-container .container h1{
    font-family: cursive;
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 1px;
    color: #162C5A;
    padding-bottom: 25px;
}
.main-container .container h3{
    color: #00A8A0;
    font-weight: 600;
    letter-spacing: 1px;
    font-size: 22px;
    padding-bottom: 35px;
    font-family: "Crafty Girls", cursive;
}
.main-container .container p{
    color: #82828E;
    letter-spacing: 1px;
    font-weight: 300;
}
/*Style Main-Container*/



/*Style Container-Missao*/
.missao-container{
    margin-top: 50px;
    width: 100%;
    background-color:#EFEFEF;
    display: flex;
    flex-direction: column;
}
.missao-container .txt-missao{
    padding-left: 100px;
    padding-top: 50px;
}
.missao-container .txt-missao h1{
    font-family: cursive;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #00A8A0;
}
.missao-container .txt-missao h3{
    font-family: "Crafty Girls", cursive;
    font-size: 20px;
    letter-spacing: 1px;
    font-weight: 900;
    color: #162C5A;
}
.missao-container .container{
    padding: 50px 100px;
    display: flex;
    text-align: center;
    gap: 50px;
}
.missao-container .container h3{
    font-family: "Crafty Girls", cursive;
    font-size: 25px;
    font-weight: 900;
    letter-spacing: 1px;
    color: #00A8A0;
    padding-bottom: 15px;
}
.missao-container .container p{
    color: #162C5A;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
}
/*Style Container-Missao*/


/*Style Visao-Container*/
.visao-container{
    width: 100%;
}
.visao-container .container{
    padding: 50px 100px;
}
.visao-container .container h1{
    font-family: cursive;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #00A8A0;
    padding-bottom: 15px;
}
.visao-container .container h3{
    font-family: "Crafty Girls", cursive;
    letter-spacing: 1px;
    font-weight: 900;
    color:#162C5A;
    padding-bottom: 15px;
}
.visao-container .container p{
    letter-spacing: 1px;
    color: #82828E;
}
/*Style Visao-Container*/



/*Style Valores-Container*/
.valores-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    background-color:#EFEFEF;
}
.valores-container .txt-valores{
    padding-left: 100px;
    padding-top: 50px;
}
.valores-container .txt-valores h1{
    font-family: cursive;
    font-size: 40px;
    letter-spacing: 1px;
    font-weight: 600;
    color:#162C5A;
}
.valores-container .container{
    display: flex;
    padding: 50px 100px;
    gap: 50px;
}
.valores-container .container .box-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color:#00A8A0;
    border-radius: 15px;
    width: 100%;
    height: 300px;
    box-shadow: 0px 2px 4px 6px rgba(0, 0, 0, 0.166);
    transition: all 0.3s ease;
    cursor: pointer;
}
.valores-container .container .box-container:hover{
    transform: scale(1.05);
}
.valores-container .container .box-container h1{
    font-size: 25px;
    font-family: "Crafty Girls", cursive;
    font-weight: 900;
    letter-spacing: 1px;
    padding: 15px 0;
    color: #fff;
}
.valores-container .container .box-container p{
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 300;
    color: rgba(0, 0, 0, 0.788);
}
.valores-container .container .box-container i{
    font-size: 50px;
    color:#FFD223;
}
/*Style Valores-Container*/



/*Style section-faça-parte */
.section-faça-parte{
    width: 100%;
    height: 250px;
    background-color: #EFEFEF;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
}
.section-faça-parte .txt-h1{
    display: flex;
    flex-direction: column;
}
.section-faça-parte .txt-h1 h1{
    font-size: 70px;
    font-family:cursive;
    color: #4D4391;
    font-weight: 300;
}
.section-faça-parte .txt-h1 h3{
    font-family:cursive;
    color: #162C5A;
    font-size: 30px;
    font-weight: 600;
}
.section-faça-parte .btn-doar button{
    border: none;
    width: 140px;  
    height: 40px; 
    font-size: 12px;
   font-weight: 700;
   color:#162C5A;
   background-color: #FFD223;
   cursor: pointer;
   border-radius: 25px;   
   transition: all 0.3s ease;
}
.section-faça-parte .btn-doar button:hover{
    background-color: #ffda45;
}
/*Style section-faça-parte */



/*Style Footer-Container*/
.footer-container{
    margin-top: 25px;
    background-color:yellow;
    padding: 70px 0;
}
.footer-container ul{
    list-style: none;
}
.footer-container .container{
    max-width: 1170px;
    margin: auto;
}
.footer-container .container .row{
    display: flex;
    flex-wrap: wrap;
}
.footer-container .container .row .footer-colunas{
    width: 25%;
    padding: 0 30px;
}
.footer-container .container .row .footer-colunas-colunas-padding{
    width: 25%;
    padding: 0 50px;
}
.footer-container .container .row .footer-colunas h4{
    font-size: 18px;
    color: #FFF;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative; 
}
.footer-container .container .row .footer-colunas-colunas-padding h4{
    font-size: 18px;
    color: #FFF;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative; 
}
.footer-container .container .row .footer-colunas h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: #00A8A0;
    height: 2px;
    box-sizing: border-box;
    width: 55px;
}
.footer-container .container .row .footer-colunas-colunas-padding h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: #00A8A0;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-container .container .row .footer-colunas ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-container .container .row .footer-colunas-colunas-padding ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-container .container .row .footer-colunas p{
    font-size: 16px;
    color: #FFF;
    font-weight: 500;
}
.footer-container .container .row .footer-colunas a{
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}
.footer-container .container .row .footer-colunas-colunas-padding a{
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}
.footer-container .container .row .footer-colunas-colunas-padding a:hover{
    padding-left: 8px;
}
.footer-container .container .row .footer-colunas .social-links a{
    display: inline-flex;
    height: 40px;
    width: 40px;
    background-color:black;
    margin: 0 10px 10px 0;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.footer-container .container .row .footer-colunas .social-links a:hover{
    color: black;
    background-color: #fff;
}
.direitos-autorais{
    background-color:yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.156);
    padding: 5px 0;
    font-weight: 500;
    letter-spacing: 1px;
}