/*Style Footer-Section*/
.footer-section{
    width: 100%;
    height: 100%;
}
.footer-container{
    max-width: 1250px;
    max-height: 800px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.footer-img{
display: flex;
justify-content: center;
align-items: center;
}
.footer-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer-nav nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap; /* Quebra de linha */
    justify-content: center;
    gap: 25px;
    max-width: 800px;
}

.footer-nav nav ul a{
    text-decoration: none;
    color:#162C5A;
    font-weight: 600;
    font-size: 15px;
    transition: all 0.3s ease;
}
.footer-nav nav ul a:hover{
    color:#00A8A0;
}
.footer-icons{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.box-icons{
    display: flex;
    width: 45px;
    height: 45px;
    background-color: #FFD223;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    justify-content: center; 
    transition: all 0.3s ease;
    color: #162C5A;
    cursor: pointer;
}
.box-icons i{
    font-size: 20px;
    color: #162C5A;
}
.box-icons i:hover{
    color: #FFF;
}
.box-icons:hover{
    background-color: #162C5A;
}
.footer-rights{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 35px;
}
.footer-rights p{
    color:#162C5A;
    font-weight: 600;
    font-size: 15px;   
}
.img-logo-footer{
    width: 300px;
    height: 300px;
}