/*Style Footer-Container*/
.footer-container{
    margin-top: 25px;
    background-color:yellow;
    padding: 70px 0;
}
.footer-container ul{
    list-style: none;
}
.footer-container .container{
    max-width: 1170px;
    margin: auto;
}
.footer-container .container .row{
    display: flex;
    flex-wrap: wrap;
}
.footer-container .container .row .footer-colunas{
    width: 25%;
    padding: 0 30px;
}
.footer-container .container .row .footer-colunas-colunas-padding{
    width: 25%;
    padding: 0 50px;
}
.footer-container .container .row .footer-colunas h4{
    font-size: 18px;
    color: #FFF;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative; 
}
.footer-container .container .row .footer-colunas-colunas-padding h4{
    font-size: 18px;
    color: #FFF;
    letter-spacing: 0.5px;
    text-transform: capitalize;
    margin-bottom: 25px;
    font-weight: 500;
    position: relative; 
}
.footer-container .container .row .footer-colunas h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: #00A8A0;
    height: 2px;
    box-sizing: border-box;
    width: 55px;
}
.footer-container .container .row .footer-colunas-colunas-padding h4::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: -8px;
    background-color: #00A8A0;
    height: 2px;
    box-sizing: border-box;
    width: 50px;
}
.footer-container .container .row .footer-colunas ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-container .container .row .footer-colunas-colunas-padding ul li:not(:last-child){
    margin-bottom: 10px;
}
.footer-container .container .row .footer-colunas p{
    font-size: 16px;
    color: #FFF;
    font-weight: 500;
}
.footer-container .container .row .footer-colunas a{
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}
.footer-container .container .row .footer-colunas-colunas-padding a{
    font-size: 16px;
    color: #FFF;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}
.footer-container .container .row .footer-colunas-colunas-padding a:hover{
    padding-left: 8px;
}
.footer-container .container .row .footer-colunas .social-links a{
    display: inline-flex;
    height: 40px;
    width: 40px;
    background-color:black;
    margin: 0 10px 10px 0;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.footer-container .container .row .footer-colunas .social-links a:hover{
    color: black;
    background-color: #fff;
}
.direitos-autorais{
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFF;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.156);
    padding: 5px 0;
    font-weight: 500;
    letter-spacing: 1px;
}